:root{
    --size: 100px;
    --gallery-background: #9a7171;
}

.container {
    border: 2px solid #333;
    background: var(--gallery-background);
}

.container::after{
    content: "";
    display: block;
    clear: both;
}

.inline-container {
    border: 1px solid #333;
    float: left;
    width: var(--size);
    height: var(--size);
    margin: 10px;
}

.inline-container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
