.container {
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-content: space-evenly;*/
    /*height: 100px;*/

}

.inline-container {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-flex;


}

#red{
    background-color:#ff0000;
}

#green{
    background-color:#00ff00;
}

#blue{
    background-color:#0000ff;
}

#yellow{
    background-color:yellow;
}

#cyan{
    background-color:cyan;
}

#magenta{
    background-color:magenta;
}


